.photos{
  height: 300px;
  width: 300px;
  display:inline-block;
}
#photos-for-battle{
  margin: 100px 80px;
  padding-left: 50px;
  h1 {
    padding-bottom: 20px;
  }
}

.home_page {
  width: 800px;
  height: 400px;

.btn-xlarge {
  margin-top: 50px;
    font-size: 1.7em;
    background-color: black;
  }
}
